h1 {
    background-color:rgb(144, 9, 9);
    color:rgb(14, 12, 14);
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
}
h2 {
    background-color: rgb(27, 10, 253);
    color:rgb(21, 250, 0);
}
Body {
    background-image: url("Images/japantoto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: 226, 60%, 52%;
    opacity: 0.90;
    filter: alpha(opacity=050);
    font-family: "Didot," regular;  
   
        
}
.box-1{background-color:rgb(63, 61, 61); color: #fff; border:5px rgb(209, 12, 45) solid; padding-left:20px; padding-right:20px;margin-top:20px;}


/*     

        opacity: 0.50;
        filter: alpha(opacity=50);
      }
      
      img:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); 
         }

    } */


