h1 {
    background-color:rgb(87, 117, 51);
    color:rgb(14, 12, 14);
}
h2 {
    background-color: red;
    color:rgb(12, 6, 12);
}
Body {
    background-image: url("images/mobileWeb.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: 226, 60%, 52%;
    }


